<article>
  <header>
    <p><b>Welcome { {{user.rol}} } to the Online Store App</b></p>
  </header>
  <p><b>User name: </b> <i>{{user.first_name}}</i></p>
  <p><b>Last name: </b> <i>{{user.last_name}}</i></p>
  <p><b>Mail : </b><i>{{user.email}}</i></p>
  <footer>
    <a href="/logout" role="button">Logout</a>
  </footer>
</article>